button{
    padding:10px;
    background-color: tan;
    margin-bottom: 5px;
}

#container{
    display: flex;
    flex-direction: column;;
    width: 750px;
    height: 750px;
    margin: 10px;
    border: 2px solid black;
}

.second{
    background-color: rgb(113, 160, 52);
    flex:1;
    /* max-width: 10px;
    padding: 30px; */
    margin: 0.25px;
    width: 10px;
    aspect-ratio: 1/1;

}

.clicked {
  background-color: rgb(165, 50, 8) !important;
  transform: scale(1.07);
}

.hover {
  background-color: rgb(10, 153, 153);
  color: white;
  cursor: pointer;
  /* transition: all 0.3s ease; */
  transform: scale(1.07); 
} 

.row{
    display: flex;

}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.0s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


